Week9 Assignment

2023244468 박사1기 김의성

In [1]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

number_list

[1, 2, 3, 4, 5]

In [2]:
number_list = []
for number in range(1, 6):
    number_list.append(number)
    
number_list

[1, 2, 3, 4, 5]

In [3]:
number_list = list(range(1,6))

number_list

[1, 2, 3, 4, 5]

In [4]:
number_list = [number for number in range(1,6)]

number_list

[1, 2, 3, 4, 5]

In [5]:
number_list = [number-1 for number in range(1,6)]

number_list

[0, 1, 2, 3, 4]

In [6]:
a_list = [number for number in range(1,6) if number%2 == 1]

a_list

[1, 3, 5]

In [7]:
a_list = []

for number in range(1,6):
    if number%2 == 1:
        a_list.append(number)
        
a_list

[1, 3, 5]

In [8]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

[word.lower() for word in sentence]

['i', 'love', 'python', 'soooooo', 'much!!!']

In [9]:
[word for word in sentence if len(word) > 6]

['Soooooo', 'MUCH!!!']

In [10]:
[(x, x**2, x**3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [11]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [12]:
cells = [(row,col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [13]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [14]:
word = 'letters'
letter_count = {letter: word.count(letter) for letter in word}

letter_count

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [15]:
letter_count = {letter: word.count(letter) for letter in set(word)}

letter_count

{'l': 1, 'e': 2, 's': 1, 'r': 1, 't': 2}

In [16]:
a_set = {number for number in range(1,6) if number%3 == 1}

a_set

{1, 4}

In [18]:
def sum(a, b):
  return a+b

sum(1,2)

3

In [20]:
sum(1.3, 3.1)

4.4

In [22]:
sum('love ', 'pythong')

'love pythong'

In [23]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [24]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

list(zip(english, french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [25]:
dict(zip(english, french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [26]:
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [28]:
menu(entree='beef', dessert='bagel', wine='bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [29]:
menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [31]:
def menu(wine, entree, dessert='pudding'):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('chardonnay', 'chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [32]:
menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [35]:
def echo(anything):
  'echo returns its input argument'
  return anything

def print_if_true(thing, check):
  """
  Prints the first argument if a second argument is true.
  The operation is:
  1. Check whether the *second* argument is true.
  2. If it is, print the *first* argument.
  """
  if check:
    print(thing)

In [36]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [37]:
print(echo.__doc__)

echo returns its input argument