##### 2023244468 김의성

<h3 id="exercise">Exercise 1 (Types): Your First Program</h3>

In [2]:
# Write your code below and press Shift+Enter to execute 

print("Hello, world!")

Hello, world!

In [3]:
# Write your code below and press Shift+Enter to execute 

print("Hello, world!")
# Print the traditional hello world

Hello, world!

<h3 id="exercise">Exercise 2 (Types): Get the object type</h3>

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [8]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

<h3 id="exer_type">Exercise 3 (Types): Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [6]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

float

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [7]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

int

<h3 id="exer_exp">Exercise 4 (Types): Expression</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [10]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

160 // 60

2

<h3 id="exer_exp_var">Exercise 5 (Types): Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [13]:
x = 3 + 2 * 2
print("x =", x)

x = 7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [16]:
y = (3 + 2) * 2
print("y =", y)

y = 10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [18]:
z = x + y
print("z =", z)

z = 17